In [2]:
import numpy as np
import pandas as pd
import os

In [5]:
os.chdir(r'C:\Users\91938\Desktop\Preprocessor')

In [7]:
df = pd.read_csv('auto.csv')

In [10]:
df.head(10)

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price,Unnamed: 26,Unnamed: 27
0,NaN,0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,NaN,1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,NaN,2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,NaN,3,2,164.0,audi,gas,std,four,sedan,fwd,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,NaN,4,2,164.0,audi,gas,std,four,sedan,4wd,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0
5,NaN,5,2,NaN,audi,gas,std,two,sedan,fwd,...,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,15250.0
6,NaN,6,1,158.0,audi,gas,std,four,sedan,fwd,...,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,17710.0
7,NaN,7,1,NaN,audi,gas,std,four,wagon,fwd,...,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,18920.0
8,NaN,8,1,158.0,audi,gas,turbo,four,sedan,fwd,...,131,mpfi,3.13,3.40,8.3,140.0,5500.0,17,20,23875.0
9,NaN,9,0,NaN,audi,gas,turbo,two,hatchback,4wd,...,131,mpfi,3.13,3.40,7.0,160.0,5500.0,16,22,NaN

### 1. Find the most expensive car company name

In [11]:
df.groupby(['aspiration'])['price'].value_counts()

aspiration   price
alfa-romero  21       2
             19       1
audi         19       3
             16       1
             17       1
                     ..
volvo        17       2
             19       2
             24       2
             18       1
             26       1
Name: price, Length: 96, dtype: int64

### 2. Count total cars per company

In [16]:
df.groupby(['aspiration'])['make'].value_counts()

aspiration     make
alfa-romero     3       2
                1       1
audi            1       3
                2       3
                0       1
bmw             0       6
                1       1
                2       1
chevrolet       0       1
                1       1
                2       1
dodge           1       7
               -1       1
                3       1
honda           0       7
                1       4
                2       2
isuzu           0       2
                1       1
                2       1
jaguar          0       3
mazda           1       7
                0       6
                3       4
mercedes-benz  -1       4
                0       2
                1       1
                3       1
mercury         1       1
mitsubishi      3       5
                1       4
                2       3
               -1       1
nissan          1      10
                0       5
                3       2
                2       1
peugot          0      11
plymouth        1       5
               -1       1
                3       1
porsche         3       4
                1       1
renault         0       1
                2       1
saab            2       3
                3       3
subaru          0       9
                2       3
toyota          0      10
               -1       7
                1       7
                2       6
                3       2
volkswagen      2       7
                0       3
                3       2
volvo          -1       8
               -2       3
Name: make, dtype: int64

### 4. Sort all cars by Price column

In [43]:
df.sort_values(by = ['price'], ascending = True)

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price,Unnamed: 26,Unnamed: 27
49,NaN,49,0,NaN,jaguar,gas,std,two,sedan,rwd,...,326,mpfi,3.54,2.76,11.5,262.0,5000.0,13,17,36000.0
73,NaN,73,0,NaN,mercedes-benz,gas,std,four,sedan,rwd,...,308,mpfi,3.80,3.35,8.0,184.0,4500.0,14,16,40960.0
74,NaN,74,1,NaN,mercedes-benz,gas,std,two,hardtop,rwd,...,304,mpfi,3.80,3.35,8.0,184.0,4500.0,14,16,45400.0
47,NaN,47,0,145.0,jaguar,gas,std,four,sedan,rwd,...,258,mpfi,3.63,4.17,8.1,176.0,4750.0,15,19,32250.0
48,NaN,48,0,NaN,jaguar,gas,std,four,sedan,rwd,...,258,mpfi,3.63,4.17,8.1,176.0,4750.0,15,19,35550.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,NaN,32,1,101.0,honda,gas,std,two,hatchback,fwd,...,79,1bbl,2.91,3.07,10.1,60.0,5500.0,38,42,5399.0
19,NaN,19,1,98.0,chevrolet,gas,std,two,hatchback,fwd,...,90,2bbl,3.03,3.11,9.6,70.0,5400.0,38,43,6295.0
90,NaN,90,1,128.0,nissan,diesel,std,two,sedan,fwd,...,103,idi,2.99,3.47,21.9,55.0,4800.0,45,50,7099.0
18,NaN,18,2,121.0,chevrolet,gas,std,two,hatchback,fwd,...,61,2bbl,2.91,3.03,9.5,48.0,5100.0,47,53,5151.0
30,NaN,30,2,137.0,honda,gas,std,two,hatchback,fwd,...,92,1bbl,2.91,3.41,9.6,58.0,4800.0,49,54,6479.0

### 5. Group by make, fuel-type and body-style to calculate the average of city-mpg and highwaympg (miles per gallon)

In [46]:
df.groupby(['make', 'fuel_type', 'body_style'])['city_mpg', 'highway_mpg'].mean()

C:\Users\91938\AppData\Local\Temp/ipykernel_18776/3857262812.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(['make', 'fuel_type', 'body_style'])['city_mpg', 'highway_mpg'].mean()

                             city_mpg  highway_mpg
make fuel_type body_style
-2   103.0     std         114.000000  5400.000000
               turbo       162.000000  5100.000000
-1   65.0      std          92.000000  4200.000000
               turbo        73.000000  4500.000000
     74.0      std         105.333333  5266.666667
...                               ...          ...
 3   186.0     std         143.000000  5500.000000
     194.0     std         160.000000  5200.000000
               turbo       200.000000  5200.000000
     197.0     std         161.000000  5200.000000
     256.0     std          90.000000  5500.000000

[82 rows x 2 columns]